body {
    text-align: center;
}

/* This is the width of the image links in the work section */

.workPanel {
    width: 100%;

}

.jumbotron {
    color: white;
    text-align: center;

}

/* Work section */

.work-img:hover {
    opacity: 0.5;
}

#work-section {
    padding-bottom: 40px;
}

/* About section */

.list-skill {
    list-style: none;
    text-align: center;
}

.about-para {
    margin: 10px 30px;
}

/* Footer */

#footer {
    padding: 40px;
}

.footBar {
    background-color: rgb(44, 42, 42);
    color: white;
    padding-top: 40px 0;
    min-height: 100px;
    text-align: center;
    vertical-align: middle;
}

.link-foot {
    text-decoration: none;
    color: rgb(97, 195, 195);
    font-size: 28px;
    padding: 15px 0;
}

.link-foot:hover,
.link-dark:hover {
    color: lightslategrey;
}

.link-dark {
    text-decoration: none;
    color: white;
    margin-top: 30px;
}

.link-pos {
    margin-top: 30px;
}